[Unit]
Description=A service that creates billiards graphics objects.

[Service]
User=root
WorkingDirectory=/app
ExecStart=/app/graphics_api
Restart=always

[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
